/* html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url("comingsoon_desktop.png");
    background-size:auto;
} */

@media only screen and (max-width: 1000px) {
    .backgroundView {
        content: url("comingsoon_mobile.png");
    }
    .imgContainer {
        display: flex;
        position: absolute;
        top: 90.6%;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 6.85%;
    }

    .imgContainer a {
        width: 7%;
        height: 7%;
    }
}

@media only screen and (min-width: 1000px) {
    .backgroundView {
        content: url("comingsoon_desktop2.png");
    }
    .imgContainer {
        display: flex;
        position: absolute;
        top: 84%;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 3.5%;
    }

    .imgContainer a {
        width: 5%;
        height: 5%;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.iconIG {
    content: url("icons8-instagram-100.png");
}

.iconMail {
    content: url("icons8-email-100.png");
}

.iconTiktok {
    content: url("icons8-tiktok-100.png");
}

.iconYT {
    content: url("icons8-youtube-100.png");
}
